* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(58, 51, 51);
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: auto;
    position: relative;
    font-family: 'Texturina', serif;
    max-width: 1500px;
}

h1{
    color: whitesmoke;
}
.header{
    position: relative;
    top:0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin:10px;
    height:10vh;
}
@media only screen and (max-width:600px){
    .header {
        left:0;
        width: 100%;
        height:10%;
        margin:0;
        align-items: center;
        height:15vh;
    }
}


/* --------------------Boxes with projects ---------------------------------*/
.containers{
    height:80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: rgb(100, 104, 100);
}
@media only screen and (max-width:600px){
    .containers {
        height:70vh;
    }
}

.box{
    display: flex;
    flex-direction: column;
    flex: 1  0 30%;
    justify-content: center;
    align-items: center;
    min-height: 33vh;
    margin: 10px;
    background-color:rgb(58, 51, 51);
    position:relative;
    overflow: hidden;
}
@media screen and (max-width:420px){
 .box{
    flex: 1  0 80%; 
    min-height:20vh;
 }
}
@media screen and (max-width:600px){
 .box{
    flex: 1  0 40%; 
    min-height:20vh;
 }
}

.animationBox::before{
    content: '';
    font-size: 1.5rem;
    color:white;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;                             
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;                   
    transform: translate(500px, -400px) rotate(180deg);                     
    transition: transform .3s; 
    z-index: 4;
}


.animationBox:hover::before{
    transform: translate(0px,0px);       
    transition: all 0.4s ease-in-out;  
}

.goToProject{
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity:0;
    color:white;
    font-size: 1.5rem;
    transform: scale(1.7);                     
    transition: transform .8s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.animationBox:hover .goToProject{
    opacity:1;
    transform: scale(1); 
    transition: transform .4s;
}

.caption{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.animationBox:hover .caption{
    transform: translate(0px, 100px);
    transition: transform .3s; 
}
@media screen and (max-width:600px){
    .caption{
       font-size:16px; 
       height: 50px;
    }
   }
.memoryGame{
    background-image: url('images/memoryGame.png');
    background-position: center;
    background-repeat: no-repeat;
}

.gallery{
    background-image: url('images/gallery.png');
    background-position: center;
    background-repeat: no-repeat;
}
.bootstrap {
    background-image: url('images/boot.png');
    background-position: center;
    background-repeat: no-repeat;
}
/* --------------------Footer ---------------------------------*/
.footer{
    height:10vh;
    width:100%;
    height:100px;
    background-color: rgb(233, 181, 207);
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position:relative;;
    bottom:0;
}

.footer p {
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
}
@media only screen and (max-width:600px){
    .footer p {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width:600px){
    .footer {
        height:15vh;
        font-size: 0.8rem;
    }
}


