*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.memory-game{
    margin-top: 20px;
    width:75%;
    height: 640px;
    display: flex;
    flex-wrap:wrap; 
    perspective: 1000px;  /*Give a 3D-positioned element some perspective*/
}  
.memory-card{
    display: flex;
    align-items: center;
    width: calc(16.666% - 10px);
    height: 30%;
    margin:5px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
    background-color: white;
    transform:scale(1);
    transform-style: preserve-3d;
    transition:transform .5s;
}
.memory-card:active{
    transform: scale(.97);
    transition:transform .2s;
}
.memory-card.flip{
    transform:rotateY(180deg);
}
.front-face, .back-face{
    width: 98%;
    padding:5px;
    position: absolute;
    background-color: white;
    backface-visibility:hidden;
}
.front-face{
    transform:rotateY(180deg);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 230px;
    height:150px;
    background-color: white;
    text-align:center;
    font-family: sans-serif;
    border-radius: 5px;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

#counting {
    font-weight: bold;
    font-size: 1.2rem;
    padding:20px 5px;
}
#btn{
    font-size:20px;
    padding:5px;
    width:80px;
    align-self: center;
    border-radius:5px;
    background-color: #4d194d;
    color:white;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
#btn:hover {
    cursor: pointer;
}
#btn:active {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
